
<div class="row">
    <!-- BEGIN TODO: Consider moving this to a different part of the page to reduce whitespace -->
    <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
            <h3>CSV Upload</h3>
            <div>
                <label for="example-text-input" class="col-form-label">Bucket name:</label>
                <input class="form-control" type="text" value="default" id="bucket-name"></input>
            </div>
            <div id="uploader"></div>
            <br />
        </div>
        <div class="col-sm-4">
            <h3>CSV Analysis</h3>
            <br />
            <div class="form-group">
                <textarea class="form-control" rows="5" id="query" placeholder="Enter your query here"></textarea>
            </div>
            <button class="btn btn-default" id="submitButton" type="button" onclick="sendQuery()">Start Analysis</button>
            <button class="btn btn-default" style="display:none" id="resultsButton" type="button" onclick="displayResults()">Results</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <table id="timing-table" class="table">
            <tr>
                <th>Filename</th>
                <th>Status</th>
                <th>Upload Time</th>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var uploader = new chumbucket.Uploader(document, { 'rootElement': '#uploader', 'timingTable': '#timing-table' });
        var button = document.querySelector('#trigger-upload');
        button.addEventListener('click', function(ev) {
            var bucketName = document.querySelector('#bucket-name').value;
            uploader.startUpload(bucketName);
        });
    });
</script>