<!-- FineUploader -->
<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Select files</div>
            </div>
            <button type="button" id="upload-submit" class="qq-upload-button-selector qq-upload-button btn-danger">
                Upload
            </button>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<style type="text/css">
    #upload #upload-submit {
    }

    #upload .buttons {
        width: 100%;
    }

    #upload .qq-uploader .qq-total-progress-bar-container {
        width: 60%;
    }

    textarea#analysis-query, textarea#analysis-console {
        font-family: "Share Tech Mono", monospace;
    }

    textarea#analysis-console {
        background-color: #fff;
    }

    table#upload-timing th {
        text-align: center;
    }
</style>

<div class="row">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
            <h3>CSV Upload</h3>
            <div>
                <input class="form-control" type="text" placeholder="Bucket name (defaults to 'default')" id="bucket-name"></input>
            </div>
            <div id="upload"></div>
            <h3>Upload History</h3>
            <table id="upload-timing" class="table">
                <tr>
                    <th>Filename</th>
                    <th>Status</th>
                    <th>Upload Time</th>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>CSV Analysis</h3>
            <div class="input-group">
                <input type="text" class="form-control" id="analysis-name" placeholder="Job name">
                <div class="input-group-addon" id="analysis-status">Stopped</div>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" id="analysis-query" placeholder="@("Enter your query here. To reference an uploaded file, use the map named @in (e.g. @in[\"bucket/foo.csv\"] to reference an individual file, or @in[\"bucket\"] to reference all files in a given bucket).")"></textarea>
            </div>
            <button class="btn btn-default" id="analysis-submit" type="button">Start Analysis</button>
            <h3>U-SQL Console</h3>
            <div class="form-group">
                <textarea class="form-control" rows="10" id="analysis-console" placeholder="Output appears here..." readonly></textarea>
            </div>
    </div>
</div>